# Ignore Python venv
/backend/.venv/

# Env files
/backend/.env

# Python bytecode caches
__pycache__/
*.py[cod]

# Node Modules
/frontend/node_modules/

# Frontend Dist
/frontend/dist/

# Local Django Database
/backend/db.sqlite3